body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
  }

  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .question {
    margin-bottom: 20px;
  }

  h2 {
    color: #333;
  }

  h3 {
    color: #555;
  }

  .answer {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }

  .answer:hover {
    background-color: #f0f0f0;
  }

  #freeResponse {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .correct {
    background-color: #8BC34A; /* Green */
    color: #fff;
  }

  .incorrect {
    background-color: #FF5733; /* Red */
    color: #fff;
  }

  .result-text {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
